.main-container{
  
  background-color: rgb(211, 154, 154);
  
}
.central-container{
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(22, 13, 31);
}

.search  {
  width: 500px;
  height: 30px;
  margin-left:-100%;
  position: absolute;
  top: 20%;
  left: 8%;
  margin-left: -.8em;
  margin-top: -.5em;
  display: flex;
  
}
h1 {
  color: white;
  text-align: center;
}
.button{
  width: 36px;
  height: 30px;
  margin-top: 2px;
  margin-left: 550px;
  border-radius: 20%;
  cursor: pointer; 
}
